#!/bin/bash

API_ID="27139926"
API_HASH="3aa1b7dc8bde00cbcfb59b0ce12f3792"
BOT_TOKEN="6152111087:AAGLch2z0tRt00Za1kZ9jUvBpMMJq2Tqfto"
LOG_GROUP_ID="-1001844355498"
OWNER_ID="5800486815"
MONGO_DB_URI="mongodb+srv://King098:king098@cluster0.lhmvji8.mongodb.net/?retryWrites=true&w=majority"
MUSIC_BOT_NAME="lakshaa"
STRING_SESSION="BQAP0sBIdloeYuBzF72c9vqj7CFDVswd-9q3zOqHN-cA4asptYVMWqfIh8Z03yU63EUvGI-_ghPx1QMzQCB9Eby5EDBe7qg6JRxmnuio8E2AVHUnXc79BgF1fws_1CqtrMII8xeVE2nVc1uL3SgSkGtDDY-7EaEuyvp6FkkwdUPCzEYiQAUT2LXXf8Bw-RDhMOkuByDMOir6rSYDWM6rn85GCF85wPoTh0cEGw3TU919KwXJ0pQ61KpiO-1l0z7qBx0DPoYuDkJ3VQ-5M08uRzq0_Z_QxDUhcubz_gCGrtQzGKBQPDywh5r7N7p9HOaLtFcem2rXbqR44f4AQVcYyN-JAAAAAVm8Z58A "
AUTO_LEAVING_ASSISTANT="True"
BOT_USERNAME="Lovelymuszzic_bot"
