#!/bin/bash

API_ID="27139926"
API_HASH="3aa1b7dc8bde00cbcfb59b0ce12f3792"
BOT_TOKEN="6152111087:AAGLch2z0tRt00Za1kZ9jUvBpMMJq2Tqfto"
LOG_GROUP_ID="-1001844355498"
OWNER_ID="5800486815"
MONGO_DB_URI="mongodb+srv://King098:king098@cluster0.lhmvji8.mongodb.net/?retryWrites=true&w=majority"
MUSIC_BOT_NAME="lakshaa"
STRING_SESSION="BQAnrE8MCJwGPk6IfSgj8r9rzLy0qsrWa-Zplp58ySz1SLvAbcPNE1_KA6Cd3K4W1xlGP6GwpdrOYUkLDEa5cSVikaXxBeroA-yVfvrvGjc0J0A0TuAi-ZFC5TNBMXINeve28wncHH6YZcn6SAeiP0kgezeu2-yZcazVN6Ntda2SFgvpkGUljWv9XC4O-SPaIa_EUu-QgqH67oGRTyia6a5T3wYE4xxOFamUkY9YzgHfoEZuMFebY8JhERJr62wW_wgcy8QMRDhKiOaGGyUCO95Do3hKhjyNjS9I-Jyn84haUSJt3sObZnOhUOv-jXtIoI7r84naGjHGbdnjyS8GzeB6AAAAAVm8Z58A"
AUTO_LEAVING_ASSISTANT="True"
BOT_USERNAME="Lovelymuszzic_bot"
